  GNU nano 7.2                                                                             .gitignore                                                                                      # Ignore virtual environment folder
frokedal-venv/

/staticfiles/
migrations/


# Python bytecode files
*.pyc
__pycache__

# Environment files
*.env

# Log files
*.log

# SQLite database file
*.sqlite3
db.sqlite3

# Django settings file (if it's specific to your local environment)
settings.py

# Ignore images and media files
images/
