# Virtual Environments
venv/
ENV/
frokedal-venv/
.python-version

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (Secrets)
.env
.venv

# Database
*.sqlite3
db.sqlite3

# Media and Static files (Server handles these)
media/
staticfiles/
static/

# Ignore all migrations EXCEPT the initialization
# (Keep migrations in git so the server knows the schema)
# migrations/  <-- DO NOT ignore the whole folder

# OS/IDE Files
.DS_Store
.vscode/
.idea/

# Logs
*.log